APP_ENVIRONMENT=development

REGISTRY_DB_URL=sqlite:///data/registry.db

CLERK_SECRET_KEY=sk_test_1ZlSHY2ncbpwbZXpmyx8mAfrzpLPh0mc9np9cZghuq
CLERK_AUTHORIZED_PARTIES=http://localhost:5173
CLERK_WEBHOOK_SIGNING_SECRET=whsec_zv+aMxt3HHnIPVJX5hpuJ7JH4p1I29Yu
